*{
    padding: 0px;
    margin:0px; 
}
body{
  background-color:rgb(20,21,23);
}
p{
  margin-bottom: 0vw;
}

.navbar{
background:rgb(20,21,23);
justify-content: center;
font-family: 'Montserrat', sans-serif;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: grey;
}
.image{
  height: 43vw;
}
 .image img:first-child{
    height:43vw;
    width: 100vw;
    position: relative;
    z-index: -1;
    
} 
 .box1{
   height: 6vh;
   width:22vw;
   margin-top: -26vw;
   margin-right: auto;
   margin-left: 5vw;
   display:flex; 
   position: absolute;
  font-size: 4vw;
  font-family: 'Noto Sans', sans-serif;
  color:rgb(253, 218, 218);
}
.box2{
   height: 7vh;
   width:20vw;
   margin-top: -26vw;
   margin-right: auto;
   margin-left: 73vw;
   display:flex;
   position: absolute;
   font-size: 4vw;
  font-family: 'Noto Sans', sans-serif;
  color:rgb(36, 36, 36)
} 
.container{
  display:flex;
  justify-content: center;
  margin-top: -4vw;
  margin-bottom: auto;
}
#btn1{
  margin-right:2vw;
  margin-left:auto;
  font-size: 2vw;
}
#btn2{
  margin-left:2vw;
  margin-right:auto;
  font-size: 2vw;
  
}
#about{
  display: flex;
  height: 71vh;
  width: 100vw;
}
.desc{
  display: grid;
  align-items: center;
  margin-left: 1vw;
}
#about img:first-child{
  display:inline-block;
  max-width:318px;
  max-height:25vw;
  width: auto;
  height: auto;
  margin-left: 16vw;
  margin-top: 8vw;
}
.title{
  font-size: 4vw;
  margin-top:5vw;
  font-family: 'Montserrat', sans-serif;
  color:rgb(253, 218, 218)
}
.Intro{
  margin-bottom: 27vw;
}
.container2{
margin-top:-48vw
}