*{
    padding: 0px;
    margin:0px; 
}
body{
  background-color:rgb(20,21,23);
}
p{
  margin-bottom: 0vw;
}

.navbar{
background:rgb(20,21,23);
justify-content: center;
font-family: 'Montserrat', sans-serif;
}
@media(max-width:512px){
  .nav-link{
    font-size: 2.5vw;
  }
}
@media(max-width:643px){
  .nav-link{
    padding: 1vw;
  }
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: grey;
}
.image{
  height: 39vw;
}
 .image img:first-child{
    height:39vw;
    width: 100vw;
    position: relative;
    z-index: -1;
    
} 
 .box1{
   height: 6vh;
   width:22vw;
   margin-top: -26vw;
   margin-right: auto;
   margin-left: 5vw;
   display:flex; 
   position: absolute;
  font-size: 4vw;
  font-family: 'Noto Sans', sans-serif;
  color:rgb(253, 218, 218);
}
.box2{
   height: 7vh;
   width:20vw;
   margin-top: -26vw;
   margin-right: auto;
   margin-left: 73vw;
   display:flex;
   position: absolute;
   font-size: 4vw;
  font-family: 'Noto Sans', sans-serif;
  color:rgb(36, 36, 36)
} 
.container{
  display:flex;
  justify-content: center;
  margin-top: -4vw;
  margin-bottom: auto;
}
#btn1{
  margin-right:2vw;
  margin-left:auto;
  font-size: 2vw;
  border-radius: 9vw;
}
#btn2{
  margin-left:2vw;
  margin-right:auto;
  font-size: 2vw;
  
}
#about{
  display: flex;
  height: 100vh;
  width: 100vw;
}
.desc{
  display: flex;
  flex-direction: column ;
  margin-left: -3vw;
  margin-top: 7vw;
}
.md{
  display: flex;
  align-content: center;
}
#about img:first-child{
  display:inline-block;
  max-width:350px;
  max-height:25vw;
  width: auto;
  height: auto;
  margin-left: 9vw;
  margin-right: 9vw;
  margin-top: 7vw;
}
.title p{
  font-size: 4vw;
  font-family: 'Montserrat', sans-serif;
  margin:auto auto 0vw 0vw;
  color:rgb(253, 218, 218)
}
.Intro{
  margin-bottom: 0vw;
  color: white;
  margin-right: 12vw;
  margin-top: 1vw;
  font-size:18px;
  font-family: 'Montserrat', sans-serif;
}
.container2{
margin:3vw 0vw 0vw 0vw;
}
#education{
  display: flex;
  height: 100vh;
  width: 100vw;
  color: white;
  justify-content: center;
}
.bschool{
  float:right ;
}
.bimg img{
  display:inline-block;
  max-width:350px;
  max-height:25vw;
  width: auto;
  height: auto;
  align-items: flex-end;
}
.binfo{
  display:flex;
  flex-direction: column;
  justify-content: inherit;
  width:60vw;
}
.bimg{
  margin:14vw auto auto 14vw;
}
.bEducation h4{

}
.bBachel{

}





































@media(max-width:768px) and (min-width:500px){
  .Intro{
    margin-bottom: 0vw;
    color: white;
    margin-right: 10vw;
    margin-top: 1vw;
    font-size:19px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 12vw;
    text-align: center;
  }
  #about img:first-child{
    display:inline-block;
  max-width:350px;
  max-height:41vw;
  width: auto;
  height: auto;
  margin-left: 12vw;
  margin-right: 0vw;
  margin-top: 0vw;
  }
  .title p{
    text-align: center;
    font-size: 8vw;
    }
}
.md{
    margin-top: 8vw;
    height:auto;
    margin-left: 19vw;
  }









@media(max-width:500px)and (min-width:400px){
  .Intro{
    font-size:15px

  }
  .md{
    margin-top: 8vw;
    height:auto;
    margin-left: 19vw;
  }
  #about img:first-child{
    display:inline-block;
  max-width:350px;
  max-height:41vw;
  width: auto;
  height: auto;
  margin-left: 9vw;
  margin-right: 0vw;
  margin-top: 0vw;
  }
  .Intro{
    margin-bottom: 0vw;
    color: white;
    margin-right: 10vw;
    margin-top: 1vw;
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 12vw;
    text-align: center;
  }
  .title p{
    text-align: center;
    font-size: 8vw;
    }


}












@media(max-width:400px) and (min-width:200px){
  .Intro{
    font-size:12px;
}
.md{
  margin-top: 15vw;
  height:auto;
  margin-left: 19vw;
}
#about img:first-child{
  display:inline-block;
max-width:350px;
max-height:41vw;
width: auto;
height: auto;
margin-left: 9vw;
margin-right: 0vw;
margin-top: 0vw;
}
.Intro{
  margin-bottom: 0vw;
  color: white;
  margin-right: 10vw;
  margin-top: 1vw;
  font-size:14px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 12vw;
  text-align: center;
}
.title p{
  text-align: center;
  font-size: 7vw;
  }
}

@media(max-width:768px){
  .title{
    margin-top: 0vw;
    margin-bottom: 4vw;
  }
  #about{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100vw;

  }
  .container2{
    margin-left: 43vw;
  }
  
  .img{
    max-width: 100%;
    height: auto;
  }
  
 
}
