*{
    padding: 0px;
    margin:0px; 
}
body{
  background-image: url(neuron.jpg);
  background-repeat: repeat-x;
}

.navbar{
background: black;
justify-content: center;
font-family: 'Montserrat', sans-serif;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: grey;
}
.image{
  height: 100%;
}
 .image img:first-child{
    height:43vw;
    width: 100vw;
    position: relative;
    z-index: -1;
    
} 
 .box1{
   height: 6vh;
   width:22vw;
   margin-top: -26vw;
   margin-right: auto;
   margin-left: 5vw;
   display:flex; 
   position: absolute;
  font-size: 4vw;
  font-family: 'Noto Sans', sans-serif;
  color:rgb(253, 218, 218);
}
.box2{
   height: 7vh;
   width:20vw;
   margin-top: -26vw;
   margin-right: auto;
   margin-left: 73vw;
   display:flex;
   position: absolute;
   font-size: 4vw;
  font-family: 'Noto Sans', sans-serif;
  color:rgb(36, 36, 36)
} 
.container{
  display:flex;
  justify-content: center;
  margin-top: -4vw;
  margin-bottom: auto;
}
#btn1{
  margin-right:2vw;
  margin-left:auto;
  font-size: 2vw;
}
#btn2{
  margin-left:2vw;
  margin-right:auto;
  font-size: 2vw;
  
}
.abt{
  display: flex;
  height: 8vh;
  width: 100vw;
  background-color: red;
}
